.container {
  width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.hero-container {
  position: relative;
}

.nav {
  padding-top: 30px;
}
.nav .nav-list {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
}
.nav .nav-list .nav-item {
  text-align: left;
}
.nav .nav-list .nav-item .nav-text,
.nav .nav-list .nav-item .nav-link {
  color: #000;
  font-size: 18px;
  line-height: 1.5;
}
.nav .nav-list .nav-item .nav-link {
  font-size: 16px;
}
.nav .nav-list .nav-item .auth-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
}
.nav .nav-list .nav-item .auth-wrap .auth-link {
  color: #000;
  font-size: 16px;
  line-height: 1.5;
}
.nav .nav-list .nav-item .auth-wrap .line::before {
  content: "";
  display: block;
  width: 3px;
  height: 16px;
  margin-left: 5px;
  margin-right: 5px;
  background-color: #000;
}

@font-face {
  font-family: "Avenir-Next-Condensed";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../../fonts/Avenir-Next-Condensed.ttf") format("ttf");
}
@font-face {
  font-family: "Avenir-Next-Condensed-Bold";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../../fonts/avenir-next-condensed-bold.ttf") format("ttf");
}
* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  background-color: #fdf8f0;
}

body {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
}

.hero-content .content-info .getToKnow-box .getToKnow-link, .hero-content .content-info .info-list .list-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.numbers-hr {
  margin-top: 50px;
  margin-left: 15px;
  color: #292928;
  font-size: 11px;
  font-weight: 400;
  line-height: 1.5;
}

.line-hr {
  background-image: url("../../images/line-hr.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 10px;
}

.line-vr {
  position: absolute;
  top: -25px;
  right: 65px;
  background-image: url("../../images/line-vr.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 620px;
  width: 10px;
}

.line-vr-index {
  position: absolute;
  right: 45px;
  top: 560px;
  color: #292928;
  writing-mode: vertical-lr;
  font-size: 11px;
  font-weight: 400;
  line-height: 1.5;
}

.cursor-icon {
  position: absolute;
  right: 26px;
  top: 35px;
}

.hero-content {
  margin-top: 20px;
  margin-right: 50px;
}
.hero-content .content-info {
  display: flex;
  position: relative;
}
.hero-content .content-info .title {
  width: 1140px;
  color: #53593b;
  font-size: 265px;
  font-weight: 700;
  line-height: 0.9;
  text-transform: uppercase;
}
.hero-content .content-info .info-list {
  position: absolute;
  top: 23px;
  left: 491px;
}
.hero-content .content-info .info-list .list-item {
  padding: 7px 30px;
  border-radius: 20px;
  border: 1px solid #d69347;
  color: #292928;
  font-size: 20px;
  line-height: 1.5;
}
.hero-content .content-info .info-list .list-item:first-child {
  width: 110px;
}
.hero-content .content-info .info-list .list-item:nth-child(2) {
  width: 145px;
}
.hero-content .content-info .info-list .list-item:nth-child(3) {
  width: 170px;
}
.hero-content .content-info .info-list .list-item:last-child {
  width: 190px;
}
.hero-content .content-info .info-list .list-item + .list-item {
  margin-top: 10px;
}
.hero-content .content-info .petals .petal-small {
  position: absolute;
  top: 64px;
  left: 64%;
}
.hero-content .content-info .petals .petal-medium {
  position: absolute;
  top: 32px;
  left: 64%;
}
.hero-content .content-info .petals .petal-large {
  position: absolute;
  top: 6px;
  left: 65.5%;
}
.hero-content .content-info .getToKnow-box {
  position: absolute;
  right: 0;
}
.hero-content .content-info .getToKnow-box .stain-medium {
  position: absolute;
  z-index: -1;
  top: 22px;
  right: 231px;
}
.hero-content .content-info .getToKnow-box .girls {
  display: flex;
}
.hero-content .content-info .getToKnow-box .girls .nadya-hero .nadya-hero-img {
  margin-left: auto;
}
.hero-content .content-info .getToKnow-box .girls .nadya-hero .link-linkedin-nadya {
  position: absolute;
  left: 85px;
  top: 9px;
}
.hero-content .content-info .getToKnow-box .girls .nadya-hero .link-linkedin-nadya:hover {
  transform: scale(1.5);
}
.hero-content .content-info .getToKnow-box .girls .sasha-hero .sasha-hero-img {
  margin-left: 27px;
}
.hero-content .content-info .getToKnow-box .girls .sasha-hero .link-linkedin-sasha {
  position: absolute;
  right: 150px;
}
.hero-content .content-info .getToKnow-box .girls .sasha-hero .link-linkedin-sasha:hover {
  transform: scale(1.5);
}
.hero-content .content-info .getToKnow-box .getToKnow-link {
  position: absolute;
  top: 215px;
  right: 145px;
  width: 200px;
  height: 60px;
  transform: rotate(9deg);
  padding: 15px;
  border-radius: 27px;
  background: #d69347;
  box-shadow: 0px 5px 9px 0px rgba(0, 0, 0, 0.25);
  color: #fff;
  font-size: 20px;
  line-height: 1.5;
}
.hero-content .content-info .getToKnow-box .getToKnow-link:hover {
  background-color: #fdf8f0;
  color: #292928;
  border: 1px solid #d69347;
}

.stain-big {
  position: absolute;
  z-index: -1;
  top: 40px;
  left: 0;
}

.stain-small {
  position: absolute;
  z-index: -1;
  bottom: -25px;
  left: 765px;
}/*# sourceMappingURL=main.css.map */