.container {
  width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.hero-container {
  position: relative;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  background-color: #fdf8f0;
}

@font-face {
  font-family: "Avenir-Next-Condensed";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../../fonts/Avenir-Next-Condensed.ttf") format("ttf");
}
@font-face {
  font-family: "Avenir-Next-Condensed-Bold";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../../fonts/avenir-next-condensed-bold.ttf") format("ttf");
}
body {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  line-height: 1.5;
}

.section-title {
  color: #292928;
  font-size: 40px;
}

section:not(:first-child) {
  padding-bottom: 100px;
}

section:last-child {
  padding-bottom: 145px;
}

.hero-content .content-info .getToKnow-box .getToKnow-link, .hero-content .content-info .info-list .list-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav {
  padding-top: 30px;
}
.nav .menu-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.nav .menu-list .menu-item {
  text-align: left;
  padding: 7px 20px;
}
.nav .menu-list .menu-item:hover {
  border-radius: 20px;
  outline: 3px solid #d69347;
  cursor: pointer;
}
.nav .menu-list .menu-item .menu-text,
.nav .menu-list .menu-item .menu-link {
  color: #000;
  font-size: 18px;
  line-height: 1.5;
}
.nav .menu-list .menu-item .menu-link {
  font-size: 16px;
}
.nav .menu-list .menu-item .auth-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
}
.nav .menu-list .menu-item .auth-wrap .auth-link {
  color: #000;
  font-size: 16px;
  line-height: 1.5;
}
.nav .menu-list .menu-item .auth-wrap .line::before {
  content: "";
  display: block;
  width: 3px;
  height: 16px;
  margin-left: 5px;
  margin-right: 5px;
  background-color: #000;
}

.numbers-hr {
  margin-top: 50px;
  margin-left: 15px;
  color: #292928;
  font-size: 11px;
  font-weight: 400;
  line-height: 1.5;
}

.line-hr {
  background-image: url("../../images/line-hr.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 10px;
}

.line-vr {
  position: absolute;
  top: -25px;
  right: 65px;
  background-image: url("../../images/line-vr.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 620px;
  width: 10px;
}

.line-vr-index {
  position: absolute;
  right: 45px;
  top: 560px;
  color: #292928;
  writing-mode: vertical-lr;
  font-size: 11px;
  font-weight: 400;
  line-height: 1.5;
}

.cursor-icon {
  position: absolute;
  right: 26px;
  top: 35px;
}

.hero-content {
  margin-top: 20px;
  margin-right: 50px;
}
.hero-content .content-info {
  display: flex;
  position: relative;
}
.hero-content .content-info .heading {
  color: #53593b;
  font-size: 250px;
  font-weight: 700;
  line-height: 0.98;
  text-transform: uppercase;
}
.hero-content .content-info .info-list {
  position: absolute;
  top: 23px;
  left: 491px;
}
.hero-content .content-info .info-list .list-item {
  padding: 7px 30px;
  border-radius: 20px;
  border: 1px solid #d69347;
  color: #292928;
  font-size: 20px;
  line-height: 1.5;
}
.hero-content .content-info .info-list .list-item:first-child {
  width: 110px;
}
.hero-content .content-info .info-list .list-item:nth-child(2) {
  width: 145px;
}
.hero-content .content-info .info-list .list-item:nth-child(3) {
  width: 170px;
}
.hero-content .content-info .info-list .list-item:last-child {
  width: 190px;
}
.hero-content .content-info .info-list .list-item + .list-item {
  margin-top: 10px;
}
.hero-content .content-info .petals {
  right: 489px;
  position: absolute;
}
.hero-content .content-info .petals .petal-small {
  position: absolute;
  top: 48px;
  left: 12px;
}
.hero-content .content-info .petals .petal-medium {
  position: absolute;
  top: 18px;
  left: 9px;
}
.hero-content .content-info .petals .petal-large {
  position: absolute;
  top: -4px;
  left: 32px;
}
.hero-content .content-info .getToKnow-box {
  position: absolute;
  right: 0;
}
.hero-content .content-info .getToKnow-box .stain-medium {
  position: absolute;
  z-index: -1;
  top: 22px;
  right: 231px;
}
.hero-content .content-info .getToKnow-box .girls {
  display: flex;
}
.hero-content .content-info .getToKnow-box .girls .nadya-hero .nadya-hero-img {
  margin-left: auto;
}
.hero-content .content-info .getToKnow-box .girls .nadya-hero .link-linkedin-nadya {
  position: absolute;
  left: 85px;
  top: 9px;
}
.hero-content .content-info .getToKnow-box .girls .nadya-hero .link-linkedin-nadya:hover {
  transform: scale(1.5);
}
.hero-content .content-info .getToKnow-box .girls .sasha-hero .sasha-hero-img {
  margin-left: 27px;
}
.hero-content .content-info .getToKnow-box .girls .sasha-hero .link-linkedin-sasha {
  position: absolute;
  right: 150px;
}
.hero-content .content-info .getToKnow-box .girls .sasha-hero .link-linkedin-sasha:hover {
  transform: scale(1.5);
}
.hero-content .content-info .getToKnow-box .getToKnow-link {
  position: absolute;
  top: 215px;
  right: 145px;
  width: 200px;
  height: 60px;
  transform: rotate(9deg);
  padding: 15px;
  border-radius: 27px;
  background: #d69347;
  box-shadow: 0px 5px 9px 0px rgba(0, 0, 0, 0.25);
  color: #fff;
  font-size: 20px;
  line-height: 1.5;
}
.hero-content .content-info .getToKnow-box .getToKnow-link:hover {
  background-color: #fdf8f0;
  color: #292928;
  border: 1px solid #d69347;
}
.hero-content .content-info .stain-big {
  position: absolute;
  z-index: -1;
  top: 25px;
  left: -40px;
}
.hero-content .content-info .stain-small {
  position: absolute;
  z-index: -1;
  bottom: -25px;
  left: 765px;
}

.title-desc {
  width: 487px;
  margin-top: 25px;
  color: #292928;
  font-size: 21px;
  font-weight: 400;
  line-height: 1.2;
}

.courses {
  display: flex;
  margin-top: 60px;
  padding: 0 35px;
  -moz-column-gap: 15px;
       column-gap: 15px;
}
.courses .course {
  flex-basis: calc((100% - 30px) / 3);
}
.courses .course .course-img {
  height: 350px;
  margin: 0 auto;
  padding: 77px 32px;
  border-radius: 20px;
  border: 1px solid #53593b;
  background-position: center;
  background-repeat: no-repeat;
}
.courses .course .course-img.img1 {
  position: relative;
  background-image: url("../../images/sasha-nadya.png");
}
.courses .course .course-img .star {
  position: absolute;
  top: 30px;
  right: 30px;
}
.courses .course .course-img .star-title {
  position: absolute;
  top: -10px;
  right: -13px;
  z-index: 1;
  color: #ffffff;
  font-size: 17px;
  font-weight: 500;
  line-height: 1.3;
}
.courses .course .course-img .star-big {
  position: absolute;
  top: -52px;
  right: -50px;
}
.courses .course .course-img.img2 {
  background-image: url("../../images/sasha-graduate.png");
}
.courses .course .course-img.img3 {
  background-image: url("../../images/nadya-note.png");
}
.courses .course .course-decs-box {
  display: flex;
  margin-top: 20px;
  height: 100px;
}
.courses .course .course-decs-box .course-title {
  flex: 80%;
  color: #292928;
  font-size: 32px;
  font-weight: 500;
}
.courses .course .course-decs-box .quota {
  flex: 20%;
}
.courses .course .course-forwhom {
  display: flex;
  margin-top: 20px;
}
.courses .course .course-forwhom .forwhom-spec {
  padding: 5px;
  border-radius: 20px;
  border: 1px solid #8d8d8d;
  color: #292928;
  font-size: 16px;
  font-weight: 400;
}
.courses .course .course-forwhom .forwhom-spec + .forwhom-spec {
  margin-left: 10px;
}
.courses .course .course-desc {
  margin-top: 20px;
  color: #292928;
  font-size: 16px;
  font-weight: 400;
  text-align: justify;
}
.courses .course .course-link {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  padding: 5px;
  border-radius: 20px;
  background-color: #d69347;
  color: #ffffff;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.5;
}
.courses .course .dev {
  background-color: #c7c7c7;
}
.courses button[data-bs-slide-to] {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #292928;
}
.courses .carousel-indicators {
  bottom: -65px;
  margin-bottom: 0;
  -moz-column-gap: 5px;
       column-gap: 5px;
}

.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: 50%;
  width: 27px;
  height: 27px;
  border-radius: 50%;
  background-color: #53593B;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 15px;
  height: 15px;
}

.how-we-do .section-title {
  margin-bottom: 60px;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 40px;
  line-height: 1.5;
  color: #292928;
}
.how-we-do .img-list {
  display: flex;
  justify-content: space-between;
}
.how-we-do .img-list .img-item {
  position: relative;
  display: flex;
  width: 49%;
}
.how-we-do .img-list .img-item .nadya-item {
  width: 366px;
  height: 366px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 250px;
  background-image: url("../../images/nadya-study.png");
}
.how-we-do .img-list .img-item .adv-list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.how-we-do .img-list .img-item .adv-list .adv-item {
  padding: 10px 5px 10px 25px;
  border: 1px solid #53593b;
  border-radius: 20px;
  position: relative;
}
.how-we-do .img-list .img-item .adv-list .adv-item.one {
  padding: 15px 5px 15px 25px;
}
.how-we-do .img-list .img-item .adv-list .adv-item .adv-item-icon {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  z-index: 1;
  top: 20%;
  left: -19px;
  border: 1px solid #53593b;
  border-radius: 50%;
  padding: 5px;
  background-color: #fdf8f0;
}
.how-we-do .img-list .img-item .adv-list .adv-item .adv-item-icon.icon-pos {
  top: 15%;
}
.how-we-do .img-list .img-item .sasha-item {
  width: 366px;
  height: 366px;
  background-repeat: no-repeat;
  background-position: 25px 15px;
  background-size: 290px;
  background-image: url("../../images/sasha-study.png");
}

.title-box {
  position: relative;
  margin-bottom: 140px;
}
.title-box .icon-news {
  position: absolute;
  top: 27px;
  left: 26px;
  width: 45px;
  height: 57px;
  background-image: url(../../images/icon-news.png), url(../../images/icon-news-three.png), url(../../images/icon-news-two.png);
  background-position: 4px, 21px, 33px 45px;
  background-repeat: no-repeat;
  z-index: 1;
}
.title-box .icon-news-elips {
  position: absolute;
  top: 65px;
  left: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 158px;
  height: 60px;
  background-color: #d69347;
  border-radius: 27px;
  transform: rotate(6deg);
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  color: #fff;
}

.content-wrap {
  display: flex;
  -moz-column-gap: 15px;
       column-gap: 15px;
}
.content-wrap .news-items .news-item {
  display: flex;
  width: 435px;
}
.content-wrap .news-items .news-item .item-img {
  width: 270px;
  height: 270px;
  background-repeat: no-repeat;
  background-size: cover;
}
.content-wrap .news-items .news-item .nadya {
  background-image: url(../../images/nadya.png);
  background-position: -30px 0;
}
.content-wrap .news-items .news-item .sasha {
  background-image: url(../../images/sasha-news.png);
  background-position: 0 -20px;
}
.content-wrap .news-items .news-item .item-text {
  width: 197px;
  font-weight: 400;
  font-size: 16px;
  color: #292928;
}
.content-wrap .news-items .news-item:not(:first-child) {
  align-items: center;
}
.content-wrap .news-videos {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}
.content-wrap .news-videos .news-video {
  flex-basis: calc((100% - 30px) / 2);
}
.content-wrap .news-videos .news-video .frame {
  border-radius: 20px;
  overflow: hidden;
}
.content-wrap .news-videos .news-video .news-video-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #292928;
}

.section-title {
  margin-bottom: 60px;
}

.accordion {
  --bs-accordion-bg: #fdf8f0;
  --bs-border-radius: 20px;
}

.accordion-item .accordion-button {
  font-weight: 500;
  font-size: 24px;
  color: #292928;
}

.comments {
  position: relative;
}

.section-title {
  margin-bottom: 70px;
  font-size: 40px;
  color: #292928;
}

.comments-content {
  display: flex;
}
.comments-content .form {
  display: flex;
  flex-direction: column;
  width: 468px;
}
.comments-content .form .label {
  margin-bottom: 18px;
  font-weight: 400;
  font-size: 19px;
  color: #292928;
}
.comments-content .form .input,
.comments-content .form .textarea {
  padding: 15px;
  margin-bottom: 35px;
  border: 1.2px solid #53593b;
  border-radius: 24px 24px 0 24px;
  height: 61px;
  background-color: transparent;
}
.comments-content .form .textarea {
  height: 174px;
  resize: none;
}
.comments-content .form .comments-btn {
  border-radius: 24px;
  padding: 11px;
  border: none;
  height: 59px;
  background-color: #d69347;
  font-weight: 500;
  font-size: 23px;
  color: #fff;
}
.comments-content .comments-img {
  position: relative;
  width: 700px;
  height: 616px;
  background-image: url(../../images/comments-bg.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-y: bottom;
}
.comments-content .comments-img .comments-star,
.comments-content .comments-img .comments-star-small,
.comments-content .comments-img .comments-star-title {
  position: absolute;
}
.comments-content .comments-img .comments-star {
  top: 22px;
  right: 100px;
}
.comments-content .comments-img .comments-star-small {
  top: 95px;
  right: 100px;
}
.comments-content .comments-img .comments-star-title {
  top: 65px;
  right: 130px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.21;
  color: #ffffff;
}
.comments-content .comments-img .comments-line-text {
  position: absolute;
  bottom: 85px;
  right: 150px;
  width: 232px;
  font-size: 20px;
  text-align: center;
  color: #292928;
}

.footer {
  height: 270px;
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: #59613d;
}
.footer .footer-text {
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  color: #f8f8f8;
}
.footer .footer-position {
  display: flex;
  justify-content: space-between;
}
.footer .footer-position .contacts .contacts-list {
  row-gap: 10px;
}
.footer .footer-position .contacts .contacts-list .contacts-item .contacts-link {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  color: #f8f8f8;
}
.footer .footer-position .socials .socials-list {
  width: 220px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer .footer-position .notifications .notification-input {
  border: 1px solid #f8f8f8;
  border-radius: 20px 20px 0 20px;
  padding: 15px;
  width: 393px;
  height: 60px;
  background: #f8f8f8;
}
.footer .footer-position .notifications .notification-input .notification-input::-moz-placeholder {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  color: #595959;
}
.footer .footer-position .notifications .notification-input .notification-input::placeholder {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  color: #595959;
}

.rep-breadcrumb {
  padding-top: 50px;
  padding-bottom: 60px;
}
.rep-breadcrumb .breadcrumb {
  font-weight: 400;
  font-size: 16px;
}
.rep-breadcrumb .breadcrumb-link {
  color: #b5b5b5;
}
.rep-breadcrumb.active {
  color: #292928;
}

.rep-hero {
  padding-top: 435px;
  padding-bottom: 320px;
  width: 1442px;
  height: 1030px;
  margin: 0 auto;
  background-image: url(../../../images/images-rep/rep-sasha.png), url(../../../images/images-rep/rep-hero-bg2.png), url(../../../images/images-rep/rep-hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: 320px 350px, 0px 155px, center;
}
.rep-hero .rep-hero-forwhom {
  display: flex;
  justify-content: space-between;
  width: 235px;
  margin-bottom: 10px;
}
.rep-hero .rep-hero-forwhom .rep-forwhom-spec {
  padding: 5px 10px;
  border-radius: 20px;
  border: 1px solid #8d8d8d;
  color: #292928;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}
.rep-hero .rep-title {
  margin-bottom: 10px;
  color: #292928;
  font-size: 47px;
  font-weight: 600;
  line-height: 1.5;
}
.rep-hero .rep-course-desc {
  width: 510px;
  margin-bottom: 30px;
  color: #292928;
  font-size: 16px;
  font-weight: 400;
}
.rep-hero .rep-course-link {
  display: flex;
  justify-content: center;
  width: 256px;
  padding: 10px 55px;
  border-radius: 20px;
  background-color: #d69347;
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.5;
}

.rep-about {
  padding-top: 100px;
}
.rep-about .rep-position {
  position: relative;
}
.rep-about .course-desc-list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  height: 490px;
  padding: 0 69px;
}
.rep-about .desc-item-title {
  margin-bottom: 5px;
  font-size: 32px;
  color: #292928;
}
.rep-about .course-desc-item:first-child {
  position: relative;
  width: 392px;
  height: 222px;
  background-image: url("../../../images/images-rep/rep-about-one.png");
}
.rep-about .course-desc-item:first-child .start-item-wrap {
  padding: 30px 155px 90px 30px;
}
.rep-about .course-desc-item:first-child .start-item-wrap .desc-item-time {
  font-weight: 400;
  font-size: 26px;
  color: #292928;
}
.rep-about .course-desc-item:first-child .start-item-icon {
  position: absolute;
  bottom: 20px;
  left: 145px;
  fill: #53593b;
}
.rep-about .course-desc-item:nth-child(2) {
  position: absolute;
  left: 340px;
  width: 426px;
  height: 295px;
  background-image: url("../../../images/images-rep/rep-about-two.png");
}
.rep-about .course-desc-item:nth-child(2) .schedule-item-wrap {
  width: 320px;
  padding-top: 30px;
  padding-left: 45px;
  text-align: right;
}
.rep-about .course-desc-item:nth-child(2) .schedule-item-wrap .schedule-item-title {
  font-size: 32px;
  color: #fdf8f0;
  margin-bottom: 5px;
}
.rep-about .course-desc-item:nth-child(2) .schedule-item-wrap .schedule-item-text {
  font-size: 26px;
  font-weight: 400;
  color: #fdf8f0;
  margin-bottom: 15px;
}
.rep-about .course-desc-item:nth-child(2) .schedule-item-wrap .schedule-item-time {
  display: block;
  width: 320px;
  font-size: 26px;
  font-weight: 400;
  color: #fdf8f0;
  text-align: start;
}
.rep-about .course-desc-item:nth-child(2) .schedule-item-icon {
  position: absolute;
  top: 30px;
  right: 25px;
  fill: #fdf8f0;
}
.rep-about .course-desc-item:nth-child(3) {
  position: absolute;
  right: 65px;
  width: 386px;
  height: 288px;
  display: flex;
  justify-content: space-between;
  padding: 30px 30px 125px;
  background-image: url("../../../images/images-rep/rep-about-three.png");
}
.rep-about .course-desc-item:nth-child(3) .duration-item-text {
  font-size: 26px;
  font-weight: 400;
  color: #292928;
}
.rep-about .course-desc-item:nth-child(3) .duration-item-icon {
  fill: #53593b;
}
.rep-about .course-desc-item:nth-child(4) {
  position: absolute;
  top: 260px;
  width: 677px;
  height: 224px;
  padding-top: 20px;
  padding-left: 30px;
  background-image: url("../../../images/images-rep/rep-about-four.png");
}
.rep-about .course-desc-item:nth-child(4) .certificate-item-icon {
  margin-bottom: 10px;
  fill: #53593b;
}
.rep-about .course-desc-item:nth-child(4) .certificate-item-title {
  margin-bottom: 5px;
  font-size: 32px;
  color: #292928;
}
.rep-about .course-desc-item:nth-child(4) .certificate-item-text {
  font-size: 24px;
  font-weight: 400;
  color: #292928;
}
.rep-about .course-desc-item:last-child {
  position: absolute;
  right: 65px;
  top: 330px;
  width: 386px;
  height: 158px;
  padding: 35px 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: url("../../../images/images-rep/rep-about-five.png");
}
.rep-about .course-desc-item:last-child .format-item-wrap {
  width: 140px;
}
.rep-about .course-desc-item:last-child .format-item-title {
  margin-bottom: 5px;
  font-size: 32px;
  color: #292928;
}
.rep-about .course-desc-item:last-child .format-item-text {
  font-size: 24px;
  font-weight: 400;
  color: #292928;
}
.rep-about .course-desc-item:last-child .format-item-icon {
  fill: #53593b;
}
.rep-about .rep-btn {
  position: absolute;
  right: 401px;
  top: 320px;
}

.sec-title {
  margin-bottom: 60px;
  font-size: 40px;
}

.rep-program .carousel-indicators {
  bottom: -40px;
}
.rep-program button[data-bs-slide-to] {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #292928;
}
.rep-program .rep-program-btn {
  display: block;
  width: 352px;
  height: 50px;
  margin: 60px auto 0;
  padding: 10px;
  border: none;
  border-radius: 20px;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
  background: #d69347;
  font-weight: 500;
  font-size: 20px;
  color: #fff;
}

.prog-wrapper {
  position: relative;
  height: 500px;
}

.prog-decoration {
  height: 105px;
  background-image: url(../../../images/images-rep/rep-program.png);
  background-position: -85px;
  background-size: cover;
}

.lessons {
  position: absolute;
  top: 80px;
  display: flex;
  height: 380px;
  padding: 0 35px;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.lessons .lesson {
  border: 1px solid #53593b;
  border-radius: 20px;
  padding: 20px;
  width: 380px;
  height: 380px;
}
.lessons .lesson.lesson-one {
  transform: rotate(-5deg);
}
.lessons .lesson.lesson-one .lesson-img {
  border-radius: 20px;
  width: 346px;
  height: 210px;
  background-image: url(../../../images/images-rep/rep-lesson-bg.png);
  transform: rotate(5deg);
  background-size: cover;
}
.lessons .lesson.lesson-one .lesson-title {
  margin-top: 10px;
  font-weight: 500;
  font-size: 20px;
  color: #000;
}
.lessons .lesson.lesson-one .lesson-desc {
  margin-top: 5px;
  font-weight: 400;
  font-size: 16px;
  color: #000;
  text-align: left;
}
.lessons .lesson.lesson-two .lesson-img {
  border-radius: 20px;
  width: 346px;
  height: 210px;
  background-image: url(../../../images/images-rep/rep-lesson-bg.png);
  transform: rotate(6deg);
  background-size: cover;
}
.lessons .lesson.lesson-two .lesson-title {
  margin-top: 10px;
  font-weight: 500;
  font-size: 20px;
  color: #000;
}
.lessons .lesson.lesson-two .lesson-desc {
  margin-top: 5px;
  font-weight: 400;
  font-size: 16px;
  color: #000;
  text-align: left;
}
.lessons .lesson.lesson-three {
  transform: rotate(5deg);
}
.lessons .lesson.lesson-three .lesson-img {
  border-radius: 20px;
  width: 346px;
  height: 210px;
  background-image: url(../../../images/images-rep/rep-lesson-bg.png);
  transform: rotate(6deg);
  background-size: cover;
}
.lessons .lesson.lesson-three .lesson-title {
  margin-top: 10px;
  font-weight: 500;
  font-size: 20px;
  color: #000;
}
.lessons .lesson.lesson-three .lesson-desc {
  margin-top: 5px;
  font-weight: 400;
  font-size: 16px;
  color: #000;
  text-align: left;
}

.conveyor {
  width: 1457px;
  height: 920px;
  margin: 0 auto;
  background-image: url("../../../images/images-rep/rep-conveer.png");
  background-repeat: no-repeat;
}
.conveyor .carousel.slide {
  width: 560px;
  height: 180px;
  margin-left: 45%;
}
.conveyor .carousel.slide .carousel-indicators {
  bottom: -10px;
  background-color: #fdf8f0;
  margin: 0;
}
.conveyor .carousel.slide .carousel-indicators button[data-bs-slide-to] {
  width: 33%;
  background-color: #292928;
}
.conveyor .carousel.slide .reviewer,
.conveyor .carousel.slide .review-text {
  font-weight: 400;
  font-size: 16px;
  color: #292928;
}
.conveyor .carousel.slide .rate-list {
  display: flex;
  align-items: center;
  margin-top: 5px;
}
.conveyor .carousel.slide .review-text {
  margin-top: 20px;
}
.conveyor .carousel.slide .carousel-control-next {
  right: -20px;
  background-color: transparent;
  border-radius: 0;
}
.conveyor .carousel.slide.three {
  margin-top: 180px;
  margin-left: 480px;
  width: 850px;
  height: auto;
}
.conveyor .carousel.slide.three .carousel-inner .conveyor-list {
  display: flex;
  -moz-column-gap: 40px;
       column-gap: 40px;
  width: 830px;
}
.conveyor .carousel.slide.three .carousel-inner .conveyor-list .conveyor-item {
  flex-basis: calc((100% - 80px) / 3);
  height: 468px;
  background-repeat: no-repeat;
}
.conveyor .carousel.slide.three .carousel-inner .conveyor-list .conveyor-item.one {
  background-image: url("../../../images/images-rep/rep-rumors-img1.png");
}
.conveyor .carousel.slide.three .carousel-inner .conveyor-list .conveyor-item.two {
  background-image: url("../../../images/images-rep/rep-rumors-img2.png");
}
.conveyor .carousel.slide.three .carousel-inner .conveyor-list .conveyor-item.three {
  background-image: url("../../../images/images-rep/rep-rumors-img3.png");
}

.lectures-list {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 800px;
}
.lectures-list .lecture {
  position: relative;
}
.lectures-list .lecture .lecture-heading-icon-sasha {
  position: absolute;
  top: 40px;
  left: -100px;
  fill: #d69347;
}
.lectures-list .lecture .lecture-heading.sasha {
  position: absolute;
  top: 60px;
  left: -50px;
}
.lectures-list .lecture .lecture-heading {
  border-radius: 20px;
  padding: 10px;
  width: 200px;
  height: 50px;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.25);
  background-color: #d69347;
  transform: rotate(-15deg);
  font-size: 20px;
  color: #fff;
  text-align: center;
}
.lectures-list .lecture .lecture-heading.nadiya {
  position: absolute;
  bottom: 30%;
  right: -10%;
}
.lectures-list .lecture .lecture-heading-icon-nadiya {
  position: absolute;
  bottom: 35%;
  right: -25%;
  fill: #d69347;
}
.lectures-list .lecture .lecture-title {
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: 700;
  color: #000;
}
.lectures-list .lecture .lecture-img {
  margin-bottom: 20px;
}
.lectures-list .lecture .lecture-bullets {
  width: 300px;
  font-weight: 400;
  font-size: 16px;
  color: #000;
}

.tarif-content-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tarif-content-wrap .sasha-joy {
  width: 270px;
  height: 370px;
  background-image: url(../../../images/images-rep/rep-sasha-joy-all.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.tarif-content-wrap .all-included {
  border: 1px solid #53593b;
  border-radius: 20px;
  padding: 20px;
  width: 483px;
  height: 454px;
}
.tarif-content-wrap .all-included .all-included-title {
  font-family: var(--font-family);
  font-size: 24px;
  color: #292928;
  margin-bottom: 30px;
}
.tarif-content-wrap .all-included .all-list {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  margin-bottom: 50px;
}
.tarif-content-wrap .all-included .all-list .all-item {
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
  color: #292928;
}
.tarif-content-wrap .all-included .all-price {
  display: block;
  font-size: 36px;
  color: #292928;
  margin-bottom: 20px;
}
.tarif-content-wrap .all-included .all-buttons {
  display: flex;
  justify-content: space-between;
}
.tarif-content-wrap .all-included .all-buttons .all-button-join {
  border: none;
  border-radius: 20px;
  padding: 10px;
  width: 195px;
  height: 50px;
  background: #d69347;
  font-weight: 500;
  font-size: 20px;
  color: #fff;
}
.tarif-content-wrap .all-included .all-buttons .all-button-booking {
  border: 1px solid #d69347;
  border-radius: 20px;
  padding: 10px;
  width: 195px;
  height: 50px;
  background: #fdf8f0;
  font-weight: 500;
  font-size: 20px;
  color: #d69347;
}
.tarif-content-wrap .nadya-call {
  width: 333px;
  height: 315px;
  background-image: url(../../../images/images-rep/rep-nadya-call-all.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.booking-content-wrap {
  display: flex;
  justify-content: space-between;
}
.booking-content-wrap .booking-form {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  width: 400px;
}
.booking-content-wrap .booking-form .booking-form-item {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  color: #292928;
}
.booking-content-wrap .booking-form .booking-form-item .booking-form-input {
  border: 1px solid #53593b;
  border-radius: 20px 20px 0 20px;
  height: 52px;
  background: #fdf8f0;
}
.booking-content-wrap .booking-form .booking-form-button {
  border: none;
  border-radius: 20px;
  padding: 10px;
  width: 402px;
  height: 54px;
  background: #d69347;
  font-weight: 500;
  font-size: 20px;
  color: #fff;
}
.booking-content-wrap .booking-content-image {
  width: 671px;
  height: 510px;
  background-image: url(../../../images/images-rep/rep-sasha-registration.png);
}

.button-up {
  position: relative;
}
.button-up .btn-up {
  position: absolute;
  right: 100px;
  bottom: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #53593b;
}/*# sourceMappingURL=main.css.map */