.container {
  width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.hero-container {
  position: relative;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  background-color: #fdf8f0;
}

@font-face {
  font-family: "Avenir-Next-Condensed";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../../fonts/Avenir-Next-Condensed.ttf") format("ttf");
}
@font-face {
  font-family: "Avenir-Next-Condensed-Bold";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../../fonts/avenir-next-condensed-bold.ttf") format("ttf");
}
body {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  line-height: 1.5;
}

.section-title {
  color: #292928;
  font-size: 40px;
}

section:not(:first-child) {
  margin-top: 100px;
  margin-bottom: 100px;
}

.hero-content .content-info .getToKnow-box .getToKnow-link, .hero-content .content-info .info-list .list-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav {
  padding-top: 30px;
}
.nav .menu-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.nav .menu-list .menu-item {
  text-align: left;
  padding: 7px 20px;
}
.nav .menu-list .menu-item:hover {
  border-radius: 20px;
  outline: 3px solid #d69347;
  cursor: pointer;
}
.nav .menu-list .menu-item .menu-text,
.nav .menu-list .menu-item .menu-link {
  color: #000;
  font-size: 18px;
  line-height: 1.5;
}
.nav .menu-list .menu-item .menu-link {
  font-size: 16px;
}
.nav .menu-list .menu-item .auth-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
}
.nav .menu-list .menu-item .auth-wrap .auth-link {
  color: #000;
  font-size: 16px;
  line-height: 1.5;
}
.nav .menu-list .menu-item .auth-wrap .line::before {
  content: "";
  display: block;
  width: 3px;
  height: 16px;
  margin-left: 5px;
  margin-right: 5px;
  background-color: #000;
}

.numbers-hr {
  margin-top: 50px;
  margin-left: 15px;
  color: #292928;
  font-size: 11px;
  font-weight: 400;
  line-height: 1.5;
}

.line-hr {
  background-image: url("../../images/line-hr.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 10px;
}

.line-vr {
  position: absolute;
  top: -25px;
  right: 65px;
  background-image: url("../../images/line-vr.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 620px;
  width: 10px;
}

.line-vr-index {
  position: absolute;
  right: 45px;
  top: 560px;
  color: #292928;
  writing-mode: vertical-lr;
  font-size: 11px;
  font-weight: 400;
  line-height: 1.5;
}

.cursor-icon {
  position: absolute;
  right: 26px;
  top: 35px;
}

.hero-content {
  margin-top: 20px;
  margin-right: 50px;
}
.hero-content .content-info {
  display: flex;
  position: relative;
}
.hero-content .content-info .heading {
  color: #53593b;
  font-size: 250px;
  font-weight: 700;
  line-height: 0.98;
  text-transform: uppercase;
}
.hero-content .content-info .info-list {
  position: absolute;
  top: 23px;
  left: 491px;
}
.hero-content .content-info .info-list .list-item {
  padding: 7px 30px;
  border-radius: 20px;
  border: 1px solid #d69347;
  color: #292928;
  font-size: 20px;
  line-height: 1.5;
}
.hero-content .content-info .info-list .list-item:first-child {
  width: 110px;
}
.hero-content .content-info .info-list .list-item:nth-child(2) {
  width: 145px;
}
.hero-content .content-info .info-list .list-item:nth-child(3) {
  width: 170px;
}
.hero-content .content-info .info-list .list-item:last-child {
  width: 190px;
}
.hero-content .content-info .info-list .list-item + .list-item {
  margin-top: 10px;
}
.hero-content .content-info .petals {
  right: 489px;
  position: absolute;
}
.hero-content .content-info .petals .petal-small {
  position: absolute;
  top: 48px;
  left: 12px;
}
.hero-content .content-info .petals .petal-medium {
  position: absolute;
  top: 18px;
  left: 9px;
}
.hero-content .content-info .petals .petal-large {
  position: absolute;
  top: -4px;
  left: 32px;
}
.hero-content .content-info .getToKnow-box {
  position: absolute;
  right: 0;
}
.hero-content .content-info .getToKnow-box .stain-medium {
  position: absolute;
  z-index: -1;
  top: 22px;
  right: 231px;
}
.hero-content .content-info .getToKnow-box .girls {
  display: flex;
}
.hero-content .content-info .getToKnow-box .girls .nadya-hero .nadya-hero-img {
  margin-left: auto;
}
.hero-content .content-info .getToKnow-box .girls .nadya-hero .link-linkedin-nadya {
  position: absolute;
  left: 85px;
  top: 9px;
}
.hero-content .content-info .getToKnow-box .girls .nadya-hero .link-linkedin-nadya:hover {
  transform: scale(1.5);
}
.hero-content .content-info .getToKnow-box .girls .sasha-hero .sasha-hero-img {
  margin-left: 27px;
}
.hero-content .content-info .getToKnow-box .girls .sasha-hero .link-linkedin-sasha {
  position: absolute;
  right: 150px;
}
.hero-content .content-info .getToKnow-box .girls .sasha-hero .link-linkedin-sasha:hover {
  transform: scale(1.5);
}
.hero-content .content-info .getToKnow-box .getToKnow-link {
  position: absolute;
  top: 215px;
  right: 145px;
  width: 200px;
  height: 60px;
  transform: rotate(9deg);
  padding: 15px;
  border-radius: 27px;
  background: #d69347;
  box-shadow: 0px 5px 9px 0px rgba(0, 0, 0, 0.25);
  color: #fff;
  font-size: 20px;
  line-height: 1.5;
}
.hero-content .content-info .getToKnow-box .getToKnow-link:hover {
  background-color: #fdf8f0;
  color: #292928;
  border: 1px solid #d69347;
}
.hero-content .content-info .stain-big {
  position: absolute;
  z-index: -1;
  top: 25px;
  left: -40px;
}
.hero-content .content-info .stain-small {
  position: absolute;
  z-index: -1;
  bottom: -25px;
  left: 765px;
}

.title-desc {
  width: 487px;
  margin-top: 25px;
  color: #292928;
  font-size: 21px;
  font-weight: 400;
  line-height: 1.2;
}

.courses {
  display: flex;
  margin-top: 60px;
  padding: 0 35px;
  -moz-column-gap: 15px;
       column-gap: 15px;
}
.courses .course {
  flex-basis: calc((100% - 30px) / 3);
}
.courses .course .course-img {
  height: 350px;
  margin: 0 auto;
  padding: 77px 32px;
  border-radius: 20px;
  border: 1px solid #53593b;
  background-position: center;
  background-repeat: no-repeat;
}
.courses .course .course-img.img1 {
  position: relative;
  background-image: url("../../images/sasha-nadya.png");
}
.courses .course .course-img .star {
  position: absolute;
  top: 30px;
  right: 30px;
}
.courses .course .course-img .star-title {
  position: absolute;
  top: -10px;
  right: -13px;
  z-index: 1;
  color: #ffffff;
  font-size: 17px;
  font-weight: 500;
  line-height: 1.3;
}
.courses .course .course-img .star-big {
  position: absolute;
  top: -52px;
  right: -50px;
}
.courses .course .course-img.img2 {
  background-image: url("../../images/sasha-graduate.png");
}
.courses .course .course-img.img3 {
  background-image: url("../../images/nadya-note.png");
}
.courses .course .course-decs-box {
  display: flex;
  margin-top: 20px;
  height: 100px;
}
.courses .course .course-decs-box .course-title {
  flex: 80%;
  color: #292928;
  font-size: 32px;
  font-weight: 500;
}
.courses .course .course-decs-box .quota {
  flex: 20%;
}
.courses .course .course-forwhom {
  display: flex;
  margin-top: 20px;
}
.courses .course .course-forwhom .forwhom-spec {
  padding: 5px;
  border-radius: 20px;
  border: 1px solid #8d8d8d;
  color: #292928;
  font-size: 16px;
  font-weight: 400;
}
.courses .course .course-forwhom .forwhom-spec + .forwhom-spec {
  margin-left: 10px;
}
.courses .course .course-desc {
  margin-top: 20px;
  color: #292928;
  font-size: 16px;
  font-weight: 400;
  text-align: justify;
}
.courses .course .course-link {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  padding: 5px;
  border-radius: 20px;
  background-color: #d69347;
  color: #ffffff;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.5;
}
.courses .course .dev {
  background-color: #c7c7c7;
}
.courses button[data-bs-slide-to] {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #292928;
}
.courses .carousel-indicators {
  bottom: -65px;
  margin-bottom: 0;
  -moz-column-gap: 5px;
       column-gap: 5px;
}

.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: 50%;
  width: 27px;
  height: 27px;
  border-radius: 50%;
  background-color: #53593B;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 15px;
  height: 15px;
}

.how-we-do .section-title {
  margin-bottom: 60px;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 40px;
  line-height: 1.5;
  color: #292928;
}
.how-we-do .img-list {
  display: flex;
  justify-content: space-between;
}
.how-we-do .img-list .img-item {
  position: relative;
  display: flex;
  width: 49%;
}
.how-we-do .img-list .img-item .nadya-item {
  width: 366px;
  height: 366px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 250px;
  background-image: url("../../images/nadya-study.png");
}
.how-we-do .img-list .img-item .adv-list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.how-we-do .img-list .img-item .adv-list .adv-item {
  padding: 10px 5px 10px 25px;
  border: 1px solid #53593b;
  border-radius: 20px;
  position: relative;
}
.how-we-do .img-list .img-item .adv-list .adv-item.one {
  padding: 15px 5px 15px 25px;
}
.how-we-do .img-list .img-item .adv-list .adv-item .adv-item-icon {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  z-index: 1;
  top: 20%;
  left: -19px;
  border: 1px solid #53593b;
  border-radius: 50%;
  padding: 5px;
  background-color: #fdf8f0;
}
.how-we-do .img-list .img-item .adv-list .adv-item .adv-item-icon.icon-pos {
  top: 15%;
}
.how-we-do .img-list .img-item .sasha-item {
  width: 366px;
  height: 366px;
  background-repeat: no-repeat;
  background-position: 25px 15px;
  background-size: 290px;
  background-image: url("../../images/sasha-study.png");
}/*# sourceMappingURL=main.css.map */