@font-face {
  font-family: 'Avenir-Next-Condensed';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../../fonts/Avenir-Next-Condensed.ttf') format('ttf');
}

@font-face {
  font-family: 'Avenir-Next-Condensed-Bold';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../../fonts/avenir-next-condensed-bold.ttf') format('ttf');
}
