body {
  font-family: $mainFont;
  font-style: normal;
  font-weight: 600;
  line-height: 1.5;
}

.section-title {
  color: $primaryColor;
  font-size: 40px;
}

section:not(:first-child) {
  padding-bottom: 100px;
}

section:last-child {
  padding-bottom: 145px;
}
