$mainFont: "Montserrat";
$mainWeight: 400;
$border:2px solid #d69347;
$border-radius: 20px;

$bodyColor: #fdf8f0;
$primaryColor: #292928;
$green: #53593b;
$yellow: #f9d873;
$border-color: #d69347;
$textColorWhite:#ffffff;