.rep-breadcrumb {
  padding-top: 50px;
  padding-bottom: 60px;

  .breadcrumb {
    font-weight: 400;
    font-size: 16px;
  }

  .breadcrumb-link {
    color: #b5b5b5;
  }
  &.active {
    color: $primaryColor;
  }
}
