.rep-about {
  padding-top: 100px;

  .rep-position {
    position: relative;
  }
 

  .course-desc-list {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    height: 490px;
    padding: 0 69px;
  }

  .desc-item-title {
    margin-bottom: 5px;
    font-size: 32px;
    color: $primaryColor;
  }

  .course-desc-item:first-child {
    position: relative;
    width: 392px;
    height: 222px;
    background-image: url('../../../images/images-rep/rep-about-one.png');

    & .start-item-wrap {
      padding: 30px 155px 90px 30px;

      .desc-item-time {
        font-weight: 400;
        font-size: 26px;
        color: $primaryColor;
      }
    }

    .start-item-icon {
      position: absolute;
      bottom: 20px;
      left: 145px;

      fill: $green;
    }
  }

  .course-desc-item:nth-child(2) {
    position: absolute;
    left: 340px;
    width: 426px;
    height: 295px;

    background-image: url('../../../images/images-rep/rep-about-two.png');

    & .schedule-item-wrap {
      width: 320px;
      padding-top: 30px;
      padding-left: 45px;
      text-align: right;

      .schedule-item-title {
        font-size: 32px;
        color: $bodyColor;
        margin-bottom: 5px;
      }

      .schedule-item-text {
        font-size: 26px;
        font-weight: 400;
        color: $bodyColor;
        margin-bottom: 15px;
      }

      .schedule-item-time {
        display: block;
        width: 320px;

        font-size: 26px;
        font-weight: 400;
        color: $bodyColor;
        text-align: start;
      }
    }

    .schedule-item-icon {
      position: absolute;
      top: 30px;
      right: 25px;

      fill: $bodyColor;
    }
  }

  .course-desc-item:nth-child(3) {
    position: absolute;
    right: 65px;
    width: 386px;
    height: 288px;

    display: flex;
    justify-content: space-between;
    padding: 30px 30px 125px;
    background-image: url('../../../images/images-rep/rep-about-three.png');

    .duration-item-text {
      font-size: 26px;
      font-weight: 400;
      color: $primaryColor;
    }

    .duration-item-icon {
      fill: $green;
    }
  }

  .course-desc-item:nth-child(4) {
    position: absolute;
    top: 260px;

    width: 677px;
    height: 224px;
    padding-top: 20px;
    padding-left: 30px;
    background-image: url('../../../images/images-rep/rep-about-four.png');

    .certificate-item-icon {
      margin-bottom: 10px;
      fill: $green;
    }

    .certificate-item-title {
      margin-bottom: 5px;
      font-size: 32px;
      color: $primaryColor;
    }

    .certificate-item-text {
      font-size: 24px;
      font-weight: 400;
      color: $primaryColor;
    }
  }

  .course-desc-item:last-child {
    position: absolute;
    right: 65px;
    top: 330px;

    width: 386px;
    height: 158px;
    padding: 35px 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: url('../../../images/images-rep/rep-about-five.png');

    .format-item-wrap {
      width: 140px;
    }

    .format-item-title {
      margin-bottom: 5px;
      font-size: 32px;
      color: $primaryColor;
    }

    .format-item-text {
      font-size: 24px;
      font-weight: 400;
      color: $primaryColor;
    }
    .format-item-icon {
      fill: $green;
    }
  }

  .rep-btn {
    position: absolute;
    right: 401px;
    top: 320px;
  }
}
 .sec-title {
    margin-bottom: 60px;
    font-size: 40px;
  }


