.rep-about {
  padding-top: 100px;

  .rep-about-title {
    margin-bottom: 60px;

    font-size: 40px;
  }

  .course-desc-list {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding: 0 69px;
  }

.course-desc-item:first-child {
  width: 392px;
  background-image: url(../../../images/images-rep/);
}

.course-desc-item:nth-child(2) {
  width: 426px;
}

  .course-desc-item:nth-child(3),
  .course-desc-item:nth-child(5) {
    width: 386px;
    margin-left: 39px;
  }

  .course-desc-item:nth-child(4) {
width: 677px;
}
}
