.comments {
  position: relative;
  // padding-bottom: 145px;
}
.section-title {
  margin-bottom: 70px;

  font-size: 40px;
  color: $primaryColor;
}

.comments-content {
  display: flex;
  // column-gap: 158px;
  .form {
    display: flex;
    flex-direction: column;

    width: 468px;

    .label {
      margin-bottom: 18px;
      font-weight: 400;
      font-size: 19px;
      color: $primaryColor;
    }

    .input,
    .textarea {
      padding: 15px;
      margin-bottom: 35px;
      border: 1.2px solid $green;
      border-radius: 24px 24px 0 24px;

      height: 61px;
      background-color: transparent;
    }

    .textarea {
      height: 174px;
      resize: none;
    }

    .comments-btn {
      border-radius: 24px;
      padding: 11px;
      border: none;
      height: 59px;
      background-color: $border-color;
      font-weight: 500;
      font-size: 23px;
      color: #fff;
    }
  }

  .comments-img {
    position: relative;
    width: 700px;
    height: 616px;
    background-image: url(../../images/comments-bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: bottom;

    .comments-star,
    .comments-star-small,
    .comments-star-title {
      position: absolute;
    }
    .comments-star {
      top: 22px;
      right: 100px;
    }
    .comments-star-small {
      top: 95px;
      right: 100px;
    }
    .comments-star-title {
      top: 65px;
      right: 130px;
      font-weight: 500;
      font-size: 14px;
      line-height: 1.21;
      color: $textColorWhite;
    }

    .comments-line-text {
    position: absolute;
    bottom: 85px;
    right: 150px;
    width: 232px;

    font-size: 20px;
    text-align: center;
    color: $primaryColor;
  }
  }
}


